# Java / Maven
target/
*.class
*.jar
*.war
*.ear
.mvn/wrapper/maven-wrapper.jar

# Go — binários compilados
*.exe
*.test
bin/

# IDE
.idea/
*.iml
.vscode/
*.suo
*.user

# OS
.DS_Store
Thumbs.db

# Variáveis de ambiente locais
.env
*.env
